
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

div {
  max-width: 800px;
  
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #dbb134;
  color: #fff;
  text-align: center;
  padding: 10px;
}

h1 {
  margin: 0;
}

section {
  margin-top: 0px;
}

h2 {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 0px;
  text-align: center;
  color:  #fff;
  background-color: #981414;
}

p:last-child {
  margin-bottom: 0;
}

.content {
  display: flex;
  align-items: center;
  
}

.banner-image {
  max-width: 300px;
  margin-right: 20px;
  border-radius: 5px;
}

.text-content {
  flex-grow: 1;
  background-color: #3498db;
  color: #fff;
}